@import "./variables.css";

/*        */
/* GLOBAL */
/*        */

* {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titles-font);
}

img{
  pointer-events: none;
}

body {
  margin: 0;
}

/*        */
/* HEADER */
/*        */

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: calc(100% - 1rem - 5vw);
  font-family: var(--text-font);
  font-style: normal;
  padding: 1.5rem calc(0.5rem + 2.5vw);
  height: 60px;
  z-index: 1;
}

header * {
  padding: 0;
  margin: 0;
  transition: 1;
  z-index: 999;
}

header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(4px + 1vw);
  z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

li {
  list-style-type: none;
  border: 3px solid var(--black);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.btn-menu {
  transition: 0.25s;
}

.btn-menu:hover {
  background-color: var(--black);
  color: white;
}

li:last-child {
  min-width: 20px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

header ul img {
  height: 20px;
  width: 20px;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

header > img {
  height: calc(10px + 1.4vw);
  max-height: 1.4rem;
  z-index: 2;
}

#home-btn {
  border: 0;
}

#search {
  border: 0;
}

#search img {
  width: 30px;
  height: 30px;
}

#map {
  width: 30px;
  height: 30px;
}

#menu-select button,
select {
  height: fit-content;
}

select {
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50px;
  height: 40px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: var(--text-font);
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
}

select:focus {
  background-color: var(--black);
  color: var(--white);
  outline: none;
}

#cart {
  height: 40px;
  border: 3px solid var(--black);
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.show-menu {
  transition: 0.35s ease-in;
  transform: translateY(0px);
}

.hide-menu {
  transition: 0.35s ease-in;
  transform: translateY(-140px);
}

.bg-color-menu {
  background-color: white;
  transition: 0.25s;
  z-index: 998;
}

.no-bg-color-menu {
  background-color: transparent;
  transition: 0.25s;
  z-index: 998;
}

@media (width <= 950px) {
  .btn-menu {
    display: none;
  }

  #burg-menu {
    display: flex;
  }
  #map {
    display: block;
  }
  select {
    display: none;
  }

  #cart {
    display: flex;
  }
}

@media (width > 950px) {
  #cart::before {
    content: "CART";
    padding-right: 4px;
  }

  .btn-menu {
    display: flex;
  }

  #burg-menu {
    display: none;
  }
  #map {
    display: none;
  }
  select {
    display: block;
  }
}

/*        */
/* BODY   */
/*        */

body {
  min-height: 100vh;
  max-width: 100vw;
}

/*               */
/* IMAGES SLIDER */
/*               */

.wrapper {
  background-color: var(--primary-color);
  height: 100vh;
  border-bottom: 4px solid black;
  transition: 0.25s;
  display: flex;
  max-width: 100vw;
  position: relative;
  align-items: flex-end;
}

.carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  height: 100%;
  /* transform: scaleY(0.9); */
  /* width: 100vw; */
  padding: 0;
  margin: 0;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel svg {
  height: 85%;
  width: auto;
  object-fit: cover;
  user-select: none;
  margin-left: 1.5rem;
  width: auto;
  margin-top: 6%;
}

.pattern-image {
  height: 100%;
  width: 100%;
  border-radius: 3px solid var(--black);
}

.svg-text{
  background-color: var(--white);
  color: var(--black);
}

@media screen and (max-width: 900px) {
  .carousel svg {
    width: auto;
    height: 80%;
    margin-top: 12%;
  }
}

@media screen and (max-width: 550px) {
  .carousel svg {
    height: 80%;
    width: auto;
    margin-top: 18%;
  }
}

@media (width >= 2000px) {
  .wrapper {
    max-height: 80vh;
    height: 60vw;
    min-height: 40vh;
  }
}
@media (width < 1400px) {
  .wrapper {
    max-height: 80vh;
    min-height: 60vh;
  }
}

/*                */
/* DONATION BADGE */
/*                */

.donation-badge-link {
  position: absolute;
  height: fit-content;
  width: fit-content;
  right: 0;
  padding-right: 10vw;
  transform: translateY(calc(-40px - 4vw));
}

.badge {
  width: calc(80px + 8vw);
  height: calc(80px + 8vw);
}

.animation--rotate {
  animation: badge-rotate 10s linear infinite;
  transform-origin: center;
}

@keyframes badge-rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.highfive {
  transform-origin: right bottom;
  transform: translate(15px, 15px);
  transform: scale(0.8);
  opacity: 0;
  transition: 0.25s ease;
}

.donation-badge-link:hover .highfive {
  transform: translate(0px, 0px);
  transform: scale(1);
  opacity: 1;
}

.hand {
  transition: 0.25s ease;
}

.donation-badge-link:hover .hand {
  transform: translate(-10px, 0px);
}

.sparks {
  transform-origin: bottom;
  transform: scale(0.8);
  opacity: 0;
  transition: 0.5s ease;
  transition-delay: 0.25s;
  transition-property: all;
}

.donation-badge-link:hover .sparks {
  transform: scale(1);
  opacity: 1;
}

/*                 */
/* TEXT WITH ICONS */
/*                 */

#main-text {
  width: calc(100% - 8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 4rem 0rem 4rem;
}

#main-text h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(3vw + 10px);
  max-width: 1400px;
  gap: 1rem;
  flex-wrap: wrap;
  line-height: 2vw;
}

h1 > img {
  width: calc(20px + 2vw);
  height: calc(20px + 2vw);
}

#main-text p {
  white-space: nowrap;
  margin: 0;
  transition: 0.25s;
}

#main-text a {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.25s;
}

#main-text:hover p {
  opacity: 0.5;
}

/*                   */
/* WORK LOUDER IMAGE */
/*                   */

#work-louder {
  width: 100vw;
  height: 100vh;
  padding: 2.5vw 0;
  background-color: var(--black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#work-louder div {
  z-index: 1;
  padding: 0;
  margin: 0;
  position: absolute;
  width: calc(100% - 10vw);
  padding-left: 10vw;
}

#work-louder div * {
  padding: 0;
  margin: 0;
  margin-bottom: 2.4vw;
}

#work-louder div h2 {
  font-size: calc(3vw + 10px);
  width: 40%;
  line-height: calc(3.5vw);
}

#work-louder div h3 {
  font-family: var(--text-font);
  width: 30%;
  font-size: calc(2vw + 6px);
  line-height: calc(3vw);
  font-weight: 400;
}

#work-louder div button {
  border-radius: 50px;
  border: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--text-font);
  font-size: calc(1vw + 6px);
  font-weight: bold;
  padding: 0.6rem 3rem;
  cursor: pointer;
}

#work-louder img {
  border-radius: 150px;
  width: calc(100% - 5vw);
  height: inherit;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

/*               */
/* PRODUCTS GRID */
/*               */

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  padding: 8rem;
  width: calc(100vw - 16rem);
  max-width: 1400px;
  row-gap: 6rem;
}

.grid-item {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--text-font);
  color: var(--black);
  text-decoration: none;
}

.item-details {
  font-family: var(--text-font);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: calc(1rem + 4px);
}

#new {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#name {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#price {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.grid-item img {
  height: calc(15rem + 5vw);
  object-fit: cover;
  width: calc((100vw - 6rem - 16rem) / 4);
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: 0.35s;
}

.grid-item img:hover {
  border: 2px solid black;
}

@media (width > 650px) {
  .grid-item img:hover + .hover-product-image {
    opacity: 1;
  }

  .hover-product-image {
    transition: 0.25s;
    display: flex;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    left: 0;
    object-fit: contain;
    opacity: 0;
    transform: translateY(calc(-15rem - 5vw - 4px));
  }

  .hover-product-image img {
    position: absolute;
  }
}

.grid-item:nth-child(7),
.grid-item:nth-child(8) {
  grid-row: span 2;
  grid-column: span 2;
}

.grid-item:nth-child(7) .hover-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.grid-item:nth-child(7) img,
.grid-item:nth-child(8) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width <= 950px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .grid-item img {
    height: calc(15rem + 5vw);
    object-fit: cover;
    width: calc((100vw - 3rem - 16rem) / 2);
  }
}

@media (width <= 650px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .grid-item img {
    height: calc(25rem + 5vw);
    width: calc((100vw - 10rem));
    object-fit: cover;
  }

  .grid-item:nth-child(7) img,
  .grid-item:nth-child(8) img {
    height: calc(20rem + 5vw);
    width: calc((100vw - 10rem));
  }

  .hover-product-image {
    display: none;
  }
}

/*        */
/* FOOTER */
/*        */

footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.footer-parent {
  width: calc(100vw - 16rem);
  padding: 4rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.footer-content {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

.footer-content-child-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content-child-1 div {
  display: flex;
  flex-direction: column;
}

.footer-content-child-1 h3 {
  font-weight: bold;
  font-family: var(--text-font);
  font-size: calc(1.6rem + 8px);
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.footer-content-child-1 a {
  font-size: calc(0.4rem + 10px);
  padding: 0;
  margin: 0;
  width: fit-content;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
}

.footer-content-child-1 a:hover {
  border-bottom: 1px solid black;
}

.footer-content-child-2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content-child-2 a {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: calc(1rem + 10px);
  margin-right: 2rem;
  line-height: 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.25s;
}

.footer-content-child-2 a:hover {
  border-bottom: 2px solid black;
}

.footer-content-child-2 a:first-of-type::after {
  content: "↗";
}

.arrow-up {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  cursor: pointer;
}

.arrow-up img {
  width: 32px;
  height: 32px;
}

.arrow-up:hover {
  background-color: white;
  transform: rotateZ(-45deg);
}

@media (width < 800px) {
  .footer-parent {
    flex-direction: column;

    width: calc(100vw - 4rem);
    padding: 1rem 2rem;

    gap: 2rem;
  }

  .arrow-up {
    width: 60px;
    height: 60px;
  }

  .footer-content-child-1 {
    width: 100%;
    justify-content: space-between;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
  }

  .footer-content-child-2 a {
    line-height: 1.6rem;
  }

  .footer-content-child-2 {
    margin-bottom: 2rem;
  }
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.container {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--text-font);
  font-weight: bold;
  font-size: calc(1.2rem + 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.horizontal-scrolling-items {
  display: flex;
  width: 2000px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}
